<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boat Sign In Page</title>
  <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <header>
    <button id="home-btn">Home</button>
  </header>
  <div id="search-container">
    <label for="boat-reg">Boat Reg.:</label>
    <input type="text" id="boat-reg" name="boat-reg">
    <label for="phone-number">Phone Number:</label>
    <input type="text" id="phone-number" name="phone-number">
    <label for="boat-name">Boat Name:</label>
    <input type="text" id="boat-name" name="boat-name">
  </div>

  <div id="table-container">
    <table id="results">
      <thead>
        <tr>
          <th>Boat Reg.</th>
          <th>Phone Number</th>
          <th>Boat Name</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 

  <script src="static/signin.js"></script>
</body>
</html>
