{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{%block header%}{%endblock%}
{%block styles%}static/home-styles.css{%endblock%}
{% block content%}
  <div id="container">
    <a href="{{ url_for('views.boatlog') }}" class="large-btn" id="boatLog">Boat Log</a>
    <button class="large-btn">Button 2</button>
    <button class="large-btn">Button 3</button>
    <button class="large-btn">Button 4</button>
    <button class="large-btn">Button 5</button>
    <button class="large-btn">Button 6</button>
  </div>
{%endblock%}

