{% extends "base.html" %} 
{% block title %}Log Boat{% endblock %} 
{%block header%}Log Boat{%endblock%}
{%block styles%}static/form-styles.css{%endblock%}
{% block content%}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.boat_reg.label }}
        {{ form.boat_reg(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.boat_name.label }}
        {{ form.boat_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.boat_size.label }}
    <div>
        {% for subfield in form.boat_size %}
            {{ subfield(class="form-check-input") }} {{ subfield.label(class="form-check-label") }}
        {% endfor %}
    </div>
    </div>

    
    <div class="form-group">
        {{ form.owner_name.label }}
        {{ form.owner_name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.phone_number.label }}
        {{ form.phone_number(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.email.label }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.zipcode.label }}
        {{ form.zipcode(class="form-control") }}
    </div>
    <button type="submit" class="btn btn-primary" id="login-btn">Log Boat</button>
      
</form>

{%endblock%}