{% extends "base.html" %} 
{% block title %}Search Boats{% endblock %} 
{%block head%}<a href="{{ url_for('views.home') }}"id="home-btn">Home</a>{%endblock%}
{%block header%}{%endblock%}
{%block styles%}static/search-styles.css{%endblock%}
{% block content%}
<div id="main-container">
  
  <div id="left-container" style="flex: 1;">
    <div id="search-container">
      <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.boat_reg.label }}
          {{ form.boat_reg(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.boat_name.label }}
          {{ form.boat_name(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.phone_number.label }}
          {{ form.phone_number(class="form-control") }}
        </div>
        <div id="button-container">
          <button type="submit" class="btn btn-primary" id="login-btn">Search</button>
        </div>
      </form>
    </div>

    <div id="table-container">
      <h2>From Database</h2>
      <table id="search-results">
        <thead>
          <tr>
            <th>Boat Reg.</th>
            <th>Phone Number</th>
            <th>Boat Name</th>
            <th>Visits</th>
          </tr>
        </thead>
        <tbody>
          {% for boat in boats %}
          <tr class="clickable-row" data-href="{{ url_for('views.log_boat', boat_reg=boat.boat_reg, boat_name=boat.boat_name, phone_number=boat.phone_number, id=boat.id) }}">
            <td>{{ boat.boat_reg }}</td>
            <td>{{ boat.phone_number }}</td>
            <td>{{ boat.boat_name }}</td>
            <td>
              <select>
                {% for visit in boat.visits %}
                <option>{{ visit }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>


  <div id="right-container" style="flex: 1;">
    <div id="table-container">
      <h2>Today</h2>
      <table id="current-boats">
        <thead>
          <tr>
            <th>Boat Reg.</th>
            <th>Phone Number</th>
            <th>Boat Name</th>
          </tr>
        </thead>
        <tbody>
          {% for boat in currentboats %}
          <tr class="clickable-row" data-href="{{ url_for('views.log_boat', boat_reg=boat.boat_reg, boat_name=boat.boat_name, phone_number=boat.phone_number,  id=boat.id) }}">
            <td>{{ boat.boat_reg }}</td>
            <td>{{ boat.phone_number }}</td>
            <td>{{ boat.boat_name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
  <script src="{{ url_for('static', filename='js/search.js') }}"></script>
  <script>
    window.onload = function() {
      const rows = document.querySelectorAll('.clickable-row');
      rows.forEach(row => {
        row.addEventListener('click', () => {
          window.location.href = row.getAttribute('data-href');
        });
      });
    };
  </script>
  
{%endblock%}
