/* General styles */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #222831;
    color: #eeeeee;
  }
  
  #content-container {
    height: 100vh;
  }
  
  header {
    height: 60px; /* adjust this as per your header's height */
    /* Other styles... */
  }
  
  #container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    height: calc(100vh - 60px); /* adjust 60px as per your header's height */
    padding: 20px;
    box-sizing: border-box;
  }
  
  .large-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 100%;
    height: 100%;
    border: 2px solid #252121;
    background-color: #393e46;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: inherit;
    text-decoration: none;
  }
  
  .large-btn:hover {
    background-color: #4e535a;
  }
  
  .large-btn:active {
    background-color: #2d3238;
  }
  
  /* Signin.html styles */
  #home-btn, #back-btn {
    font-size: 18px;
    background-color: #00adb5;
    color: #eeeeee;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  #home-btn:hover {
    background-color: #009e9a;
    transform: scale(1.05);
  }
  
  #home-btn:active {
    background-color: #00756e;
  }
  
  button#home-btn:hover {
    background-color: #009e9a;
  }
  
  button#home-btn:active {
    background-color: #00756e;
  }
  
  #search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    margin: 5px;
    width: 100%;
    max-width: 300px;
  }
  
  table {
    background-color: #393e46;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #00adb5;
  }
  
  tr:nth-child(even) {
    background-color: #4e535a;
  }
  
  /* Boatdetails.html styles */
  #details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    margin-top: 10px;
  }
  
  input[type="text"] {
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  #date-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  #buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    font-size: 18px;
    background-color: #00adb5;
    color: #eeeeee;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #009e9a;
  }
  
  button:active {
    background-color: #00756e;
  }
  
  .boat-info-row {
    cursor: pointer;
    position: relative;
  }
  
  .boat-info-row:hover {
    background-color: #008b92;
  }
  
  .boat-info-link {
    display: block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
  }
  
  #table-container {
    overflow-x: auto;
    max-height: calc(100% - 200px);
    margin: 0 auto; 
  }

  .alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 3px;
    color: #FFFFFF;
    animation: fadein 2s;
    position: relative;
    width: 98%;
  }
  
  .alert-success {
    background-color: #4CAF50;
  }
  
  .alert-error {
    background-color: #f44336;
  }
  
  .close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .form-check-input, .form-check-label {
    display: inline-block;
    margin-right: 10px;
  }
  
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  
  